PORT=5000
NODE_ENV=development

MONGODB_URI=

JWT_SECRET=
JWT_EXPIRES_IN=1d

GALLERY_TOKEN_SECRET=
GALLERY_TOKEN_EXPIRES_IN=1h

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CLIENT_URL=http://localhost:5173

ADMIN_SETUP_KEY=
